<h1>94%</h1>
<h2 *ngIf="!level"> Loading </h2>

<div *ngIf="level">
	<h2> {{level.title}} </h2>

	<div>
		<form (ngSubmit)="checkWord(userForm)" #userForm="ngForm">
			<label>Your guess
				<input type="text" name="guess" placeholder="Type one or more words" ngModel>
			</label>
			<button type="submit">Add</button>
		</form>
		<h3>Correct guesses</h3>
		<div *ngFor="let guess of guesses">{{guess}}</div>
	</div>
	<div [hidden]="!isWinner">
		<button (ngClick)="nextLevel()">Next level</button>
	</div>
</div>